.page {
  text-align: center;
  min-height:100vh;
  padding-left: 0;
  padding-right: 0;
}

.bigContainer {
  background-color: #1d2124;
  min-height:80vh;
  padding-left: 0;
  padding-right: 0;
  max-width: inherit;
}

.backCustom {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  background-position:"center";
  background-size:"cover";
  height:"400px"
}

.names{
  text-transform: capitalize;
}

.bi{
  color:#e3841f;
}

.text{
  color:#e3841f;
  margin-bottom: 2rem;
}

.textProgram{
  font-size: 1.5rem;
  color: white;
  text-justify: center;
}

.title{
  color:#ffffff;
  margin-bottom: 2rem;
}

.header{
  text-transform:capitalize;
  color:white;
  margin-bottom: 2rem;
}

.divider{
  border: 1px solid #e3841f;
}

.Event{
  width:30rem;
}

.btnCustom{
  background-color: #e3841f;
  border: #e3841f;
  color:black;
}

.btnCustom:hover{
  background-color:#e3841f8d;
}

textArea:hover{
  opacity: 0.5;
}